[submodule "packages/deft"]
	path = packages/deft
	url = git://jblevins.org/git/deft.git
[submodule "packages/git-modes"]
	path = packages/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "packages/magit"]
	path = packages/magit
	url = git://github.com/magit/magit.git
[submodule "packages/swift-mode"]
	path = packages/swift-mode
	url = git@github.com:chrisbarrett/swift-mode.git
[submodule "packages/git-timemachine"]
	path = packages/git-timemachine
	url = git@github.com:pidu/git-timemachine.git
[submodule "packages/popwin-el"]
	path = packages/popwin-el
	url = git@github.com:m2ym/popwin-el.git
[submodule "packages/emacs-elixir"]
	path = packages/emacs-elixir
	url = git@github.com:elixir-lang/emacs-elixir.git
