[submodule "packages/deft"]
	path = packages/deft
	url = git://jblevins.org/git/deft.git
[submodule "packages/git-modes"]
	path = packages/git-modes
	url = https://github.com/magit/git-modes.git
[submodule "packages/magit"]
	path = packages/magit
	url = git://github.com/magit/magit.git
[submodule "packages/swift-mode"]
	path = packages/swift-mode
	url = git@github.com:chrisbarrett/swift-mode.git
